<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vanchi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400"
    rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/style.css">
  <style>
    p{
      font-weight: 800;
      color: #007bff;
    }
  </style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <div class="header-top bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-lg-3 logo">
            <a href="/home">
              <img src="images\Vanchi logo.jpg" alt="Image" class="logo img-fluid" style="border-radius: 2em;">
              <!-- <strong>Water</strong>Boat -->
            </a>
          </div>
          <div class="col-lg-3 d-none d-lg-block">

            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-location-arrow text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Alappuzha</span>
                <span class="caption-text">Kuttanad</span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-phone text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">9645969312</span>
                <span class="caption-text">Toll free</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-envelope text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Anugraha@gmail.com</span>
                <span class="caption-text">Alappuzha</span>
              </div>
            </div>
          </div>

          <div class="col-6 d-block d-lg-none text-right">
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span>Menu</a>
          </div>
        </div>
      </div>




      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

        <div class="container">
          <div class="d-flex align-items-center">

            <div class="mx-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <a href="/admin/home" class="nav-link text-left">Home</a>
                  </li>
                  <li>
                    <a href="/admin/packages" class="nav-link text-left">Package list</a>
                  </li>
                  <li>
                    <a href="/admin/category" class="nav-link text-left">Category list</a>
                  </li>
                  <li>
                    <a href="/admin/bookings" class="nav-link text-left">Bookings</a>
                  </li>
                  <li>
                    <a href="/admin/users" class="nav-link text-left">Users</a>
                  </li>
                  <li>
                    <a href="/admin/banner" class="nav-link text-left">Banner</a>
                  </li>
                  <li>
                    <a href="/admin/coupons" class="nav-link text-left">Coupons</a>
                  </li>

                  <li>
                    <a href="/admin/logout" class="nav-link text-left" data-toggle="modal"
                      data-target="#exampleModalCenter{{@index}}">Logout</a>
                  </li>
                </ul>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter{{@index}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="/admin/logout"><button type="button" class="btn btn-primary">Yes</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- .site-wrap -->

  <div class="container" >
<br><br><br>
      <div class=" card " style="border-radius: 3em; ">
        <!-- Sing in  Form -->
<div class="container">
  <div class="row" style="padding: 5em;">
        <div class="signin-content col-md-6" style="" >
          <h2 style="text-align:center; ">Dashboard</h2>
          <h3>Total</h3>
          <br>
          <p>Users    :    {{users}}</p>
          <p>Coupons  :    {{coupons}}</p>
          <p>Packages :   {{packages}}</p>
          <p>Bookings :   {{bookings}}</p>
        </div>
               <div style="" class="col-md-6">
          <h2 style="text-align: center;">Bookings per year</h2>
        <canvas id="myChart3"></canvas>
      </div>
      </div>
      </div>
         <div>
          <h2 style="text-align: center;">Bookings per month</h2>
        <canvas id="myChart" style=" padding: 5em; "></canvas>
      </div>
      <div>
          <h2 style="text-align: center;">Bookings per day</h2>
        <canvas id="myChart2" style="padding: 5em;"></canvas>
      </div>
      </div>
  </div>

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ff5e15" />
    </svg></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let ctx = document.getElementById("myChart").getContext("2d");
    let myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: [{{#each months}}"{{@key}}",{{/each}}],
    datasets: [{
        label: "Bookings",
        data: [{{#each months}}{{this}} ,{{/each}}],
        backgroundColor:'#007bff',
            borderColor: '#007bff',
                borderWidth: 1,
                barThickness: 40
    },]
  },
    options: {
        animation: {
            duration: 2000,
                easing: "easeInOutQuad"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
   }
});
let cty = document.getElementById("myChart2").getContext("2d");
    let myChart2 = new Chart(cty, {
        type: "line",
        data: {
            labels: [{{#each days}}"{{@key}}",{{/each}}],
    datasets: [{
        label: "Bookings",
        data: [{{#each days}}{{this}} ,{{/each}}],
        backgroundColor:'#007bff',
            borderColor: '#007bff',
                borderWidth: 1,
                barThickness: 40
    },]
  },
    options: {
        animation: {
            duration: 2000,
                easing: "easeInOutQuad"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
   }
});
let ctz = document.getElementById("myChart3").getContext("2d");
    let myChart3 = new Chart(ctz, {
        type: "pie",
        data: {
            labels: [{{#each years}}"{{@key}}",{{/each}}],
    datasets: [{
        label: "Bookings",
        data: [{{#each years}}{{this}} ,{{/each}}],
        backgroundColor:['yellow','green','red','orange','brown','blue','cyan'],
            borderColor: '',
                borderWidth: 1,
                barThickness: 40
    },]
  },
    options: {
        animation: {
            duration: 2000,
                easing: "easeInOutQuad"
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
   }
});
</script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>




  <script src="js/main.js"></script>

</body>

</html>