<!DOCTYPE html>
<html>

<head>
    <title>banner</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/home">Vanchi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/packages">package list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/banner">Banner</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/bookings">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">Coupons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <!-- Sing in  Form -->

                <div class="signin-content">
                    <div class="signin-image">
                        <img src="/images/Vanchi logo.jpg" alt="">
                        <br><br>
                        <a href="/admin/addBanner">Add banner</a>
                        <br>


                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Banner</h2>



                        <table>
                            <thead>
                                <tr>
                                    <th>Names</th>
                                    <th>Images</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{#each banner}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td><img src="/packageImages/{{this.image}}" alt="..." class="img-fluid"></td>


                                    <td>
                                        <a href="/admin/editbanner?id={{this._id}}"><button
                                                class="btn btn-primary">Edit</button></a>
                                        <br><br>
                                        <a href="/admin/deletebanner?id={{this._id}}" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal{{@index}}"><button
                                                class="btn btn-danger">Delete</button></a>
                                    </td>
                                </tr>
                                {{!-- modal --}}
                                <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">No</button>
                                                <a href="/admin/deletebanner?id={{this._id}}"><button type="button"
                                                        class="btn btn-primary">Yes</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </tbody>
                        </table>


                        </ul>
                    </div>
                </div>
            </div>
    </div>
    </section>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>