<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vanchi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400"
    rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css_date/classic.css">
  <link rel="stylesheet" href="css_date/classic.date.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css_date/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css_date/style.css">



  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.min.css">




</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="font-family: Georgia, serif;">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <div class="header-top bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-lg-3 logo">
            <a href="/home">
              <img src="images\Vanchi logo.jpg" alt="Image" class="logo img-fluid" style="border-radius: 2em;">
              <!-- <strong>Water</strong>Boat -->
            </a>
          </div>
          <div class="col-lg-3 d-none d-lg-block">

            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-location-arrow text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Alappuzha</span>
                <span class="caption-text">Kuttanad</span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-phone text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">9645969312</span>
                <span class="caption-text">Toll free</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-envelope text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Anugraha@gmail.com</span>
                <span class="caption-text">Alappuzha</span>
              </div>
            </div>
          </div>

          <div class="col-6 d-block d-lg-none text-right">
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span>MENU</a>
          </div>
        </div>
      </div>




      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

        <div class="container">
          <div class="d-flex align-items-center">

            <div class="mx-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <a href="/home" class="nav-link text-left">Home</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-left">About Us</a>
                  </li>
                  {{!-- <li>
                    <a href="services.html" class="nav-link text-left">Wishlist</a>
                  </li> --}}
                  <li>
                    <a href="/bookings" class="nav-link text-left">Bookings</a>
                  </li>
                  <li><a href="/bookingscart" class="nav-link text-left">Bookings cart</a></li>
                  <li>
                    <a href="//wa.me/919645969312" class="nav-link text-left" target="_blank">Contact us</a>
                  </li>
                  <li>
                    <a href="/profile" class="nav-link text-left">Profile</a>
                  </li>
                </ul>
                </ul>
              </nav>

            </div>

          </div>
        </div>

      </div>

    </div>

    <br><br>

    {{!-- <section class="" style="background-color: ;"> --}}
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Bookings</h1>
                      </div>
                      <div>
                        {{#if bookingData.length}}
                        {{#each bookingData}}

                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img src="/packageImages/{{package_details.0.image.[0]}}" alt="Image"
                              class="cart-image img-fluid " class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </div>
                          <br>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{package_details.0.name}}</h6>
                            <br>
                            <h6 class="text-black mb-0">Class : {{package_details.0.class}}</h6>
                            <br>
                            <h6 class="text-black mb-0">Rooms : {{package_details.0.category}}</h6>
                          </div>

                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">{{days}} Days </h6><br>
                            <h6 class="mb-0">{{guests}} Guests </h6><br>
                            <h6>{{price}} RS/-</h6>
                            <input type="hidden" name="package_id" value="{{package_details.0._id}}">
                            <input type="hidden" name="booking_id" value="{{_id}}">
                          </div>
                          <div class="col-md-2 col-lg-2 col-xl-2 ">
                            <a href="/delete?id={{this._id}}&dateid={{date_details.0._id}}" class="text-muted"
                              data-toggle="modal" data-target="#exampleModalCenter{{@index}}"><button
                                class="delete-button-1">Delete</button></a>

                            <br><br>
                            <a href="/editdate?id={{package_details.0._id}}&dateid={{date_details.0._id}}"
                              class="text-muted"><button class="edit-button">Edit</button></a>
                          </div>

                          <div>
                            <br>
                            <p class="text-black mb-0">Checkin date : {{checkin}}</p>
                            <p class="text-black mb-0">Checkout date : {{checkout}}</p>
                          </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter{{@index}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a href="/delete?id={{_id}}&dateid={{date_details.0._id}}"><button type="button"
                                    class="btn btn-primary">Yes</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div><img src="/images/cart empty.webp" alt="" class="img-fluid"></div>
                        {{/if}}
                      </div>



                      <hr class="my-4">

                      <div class="pt-5">
                        <h6 class="mb-0"><a href="/home" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>Back to home</a></h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 bg-grey">
                    <div class="p-5">
                      <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">booking price</h5>
                        <h5>{{subtotal}}</h5>
                        <input type="hidden" name="subtotal" id="subtotal" value="{{subtotal}}">
                      </div>


                      <h5 class="text-uppercase mb-3">Give code</h5>

                      <div class="mb-5">
                        <div class="form-outline">
                          <input type="text" id="coupon_code" name="coupon_code" class="form-control form-control-lg">
                          <label class="form-label" for="form3Examplea2">Enter your code</label>
                          <br>
                          <button type="submit" class="form-submit" onclick="checkCoupon()" disabled id="coupon">Apply</button>
                          <br>
                          <br>
                          <h6 class="text-danger" id="invalidcoupon"></h6>
                          <h6 class="text-success" id="validcoupon"></h6>
                        </div>
                      </div>



                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5 id="totalprice">{{subtotal}}</h5>
                      </div>

                      <div class="your-payment">
                        <h2 class="payment-title mb-3">Payment Method</h2>
                        <br>
                        <div class="payment-method">
                          <div class="form-check">
                            <input class="form-check-input" onclick="enableButton()" type="radio" name="payment"
                              id="COD" value="1">
                            <label class="form-check-label" for="payment1">
                              Pay at CheckIn
                            </label>
                            <div>
                              <input class="form-check-input" onclick="enableButton()" type="radio" name="payment"
                                id="rzp-button1" value="2">
                              <label class="form-check-label" for="payment2">
                                RazorPay
                              </label>
                            </div>
                          </div>
                          <hr>
                          <div class="order-button-payment">
                            {{!-- <button class="btn form-submit" onclick="CheckplaceOrder()" value="Place order"
                              id="placeOrderButton" data-toggle="modal" data-target="#exampleModalCenter{{@index}}" disabled>Confirm Booking
                            </button> --}}
                            <button class="btn form-submit"
                              id="placeOrderButtons" data-toggle="modal" data-target="#exampleModalCenter{{@index}}" disabled>Confirm Booking
                            </button>
                          </div>
                          <br>
                          <h6 class="text-danger" id="errMsg"></h6>
                          <input type="hidden" name="radioValue">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter{{@index}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Proceed payment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Proceed to pay
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" onclick="CheckplaceOrder()" id="placeOrderButton" value="Place order">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      {{!--
    </section> --}}

    <br>



    <div class="site-section bg-image overlay" style="background-image: url('images/banner 2.jpg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-white">Get In Touch With Us</h2>
            <p class="mb-0"><a href="//wa.me/919645969312" class="btn btn-warning py-3 px-5 text-white" target="_blank">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="mb-4"><img src="images\Vanchi logo.jpg" alt="Image" class="img-fluid" style="border-radius: 2em;">
            </p>
            <p></p>
            <p><a href="#">Learn More</a></p>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Company</span></h3>
            <ul class="list-unstyled">
              <li><a href="#">About</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Our Team</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Services</span></h3>
            <ul class="list-unstyled">
               <li><a href="#">House boats</a></li>
              <li><a href="#">Restaurant</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Contact</span></h3>
            <ul class="list-unstyled">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Support Community</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Our Partners</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>


  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ff5e15" />
    </svg></div>

  {{!--payment --}}
  <script>

    let payment;
    let subtotal;
    let coupon_code;

    subtotal = Number(document.getElementById('subtotal').value);

    let totalprice = subtotal;
    let total;

    if (subtotal != 0) {
      document.getElementById('coupon').disabled = false
        }

    async function checkCoupon() {

      subtotal = Number(document.getElementById('subtotal').value)
      coupon_code = await document.getElementById('coupon_code').value
      let datas = {
        subtotal: subtotal,
        coupon_code: coupon_code
      }

      try {
        let Coupon = await fetch('/coupons', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(datas)
        })
        let res = await Coupon.json()

        if (res == "used") {
          document.getElementById('invalidcoupon').innerHTML = 'Sorry already used';
          document.getElementById('totalprice').innerHTML = subtotal;
          totalprice = subtotal;
        } else {

          if (res == "try again") {
            document.getElementById('invalidcoupon').innerHTML = 'Invalid Coupon';
            document.getElementById('totalprice').innerHTML = subtotal;
            totalprice = subtotal;
          }
          else {

            if (res == "expired") {
              document.getElementById('invalidcoupon').innerHTML = 'Coupon expired';
              document.getElementById('totalprice').innerHTML = subtotal;
            } else {
              totalprice = res;
              console.log(res)
              document.getElementById('validcoupon').innerHTML = 'Coupon applied';
              document.getElementById('invalidcoupon').innerHTML = '';
              document.getElementById('totalprice').innerHTML = res;
            }
          }
        }
      } catch (error) {
        console.log(error.message)
      }

    }




    async function enableButton() {
 if (subtotal != 0) {
      document.getElementById('placeOrderButtons').disabled = false
        }
        else {
          document.getElementById('errMsg').innerHTML = 'Booking Cart is empty'
        }
    }


    async function CheckplaceOrder() {
      payment = Object.values(document.getElementsByName('payment')).filter((item) => item.checked ? item : '').map((item) => item.value)

      if (payment[0] === '1') {
          placeOrder();
      } else {
        
        total = totalprice * 100;

        var orderId;
        totalprice = total
        $(document).ready(function () {

          var settings = {
            url: "/create/orderId",
            method: "POST",
            timeout: 0,
            headers: {
              "Content-Type": "application/json",
            },
            data: JSON.stringify({
              amount: totalprice, //CHANGE THE AMOUNT AS NEEDED
            }),
          };

          //creates new orderId everytime
          $.ajax(settings).done(function (response) {
            orderId = response.orderId;
            console.log(orderId);
          });
        });

        document.getElementById("placeOrderButton").onclick = function (e) {
          var options = {
            key: "rzp_test_UWN9YHKEBFWQUS", // Enter the Key ID generated from the Dashboard
            amount: totalprice, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            currency: "INR",
            name: "Vanchi",
            description: "Test Transaction",
            image: "",
            order_id: orderId,
            //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            handler: function (response) {


              var settings = {
                url: "/api/payment/verify",
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                data: JSON.stringify({ response }),
              };
              console.log(response)
              $.ajax(settings).done(function (response) {
                placeOrder();
              });
            },

            theme: {
              color: "#0000FF",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.on("payment.failed", function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
          });
          rzp1.open();
          e.preventDefault();
        };


      }
    }


    async function placeOrder() {
      const package_id = Object.values(document.getElementsByName('package_id')).map((item) => item.value)


      let data = {
        package_id: package_id,
        payment: payment,
        subtotal: totalprice,
        coupon_code: coupon_code
      }


      try {
        let orderplacement = await fetch('/bookingsCart', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
        })
        let res = await orderplacement.json()
        if (res == "success") {
          Swal.fire({
            title: 'Success',
            text: " Booked successfully !",
            icon: 'success',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK',
            timer: 3000
          }).then((res) => {
            window.location.href = '/home'
          })
        } else Swal.fire({
          title: 'Something went wrong',
          text: "something went wrong !",

          icon: 'failure',
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'OK',
          timer: 3000
        }).then((res) => {
          window.location.href = '/home'
        })
      } catch (error) {
        console.log(error)
      }
    }



  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.min.js"></script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>

  <script src="js/main.js"></script>

  <script src="js_date/jquery-3.3.1.min.js"></script>
  <script src="js_date/popper.min.js"></script>
  <script src="js_date/bootstrap.min.js"></script>
  <script src="js_date/picker.js"></script>
  <script src="js_date/picker.date.js"></script>

  <script src="js_date/main.js"></script>



</body>

</html>