<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vanchi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Dancing+Script:400,700|Muli:300,400"
    rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css_date/classic.css">
  <link rel="stylesheet" href="css_date/classic.date.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css_date/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css_date/style.css">



  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.min.css">




</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" style="font-family: Georgia, serif;">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <div class="header-top bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-6 col-lg-3 logo">
            <a href="/home">
              <img src="images\Vanchi logo.jpg" alt="Image" class="logo img-fluid" style="border-radius: 2em;">
              <!-- <strong>Water</strong>Boat -->
            </a>
          </div>
          <div class="col-lg-3 d-none d-lg-block">

            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-location-arrow text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Alappuzha</span>
                <span class="caption-text">Kuttanad</span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-phone text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">9645969312</span>
                <span class="caption-text">Toll free</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-none d-lg-block">
            <div class="quick-contact-icons d-flex">
              <div class="icon align-self-start">
                <span class="icon-envelope text-primary"></span>
              </div>
              <div class="text">
                <span class="h4 d-block">Anugraha@gmail.com</span>
                <span class="caption-text">Alappuzha</span>
              </div>
            </div>
          </div>

          <div class="col-6 d-block d-lg-none text-right">
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                class="icon-menu h3"></span>MENU</a>
          </div>
        </div>
      </div>




      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

        <div class="container">
          <div class="d-flex align-items-center">

            <div class="mx-auto">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
                  <li class="active">
                    <a href="/home" class="nav-link text-left">Home</a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-left">About Us</a>
                  </li>
                  {{!-- <li>
                    <a href="services.html" class="nav-link text-left">Wishlist</a>
                  </li> --}}
                  <li>
                    <a href="/bookings" class="nav-link text-left">Bookings</a>
                  </li>
                  <li><a href="/bookingscart" class="nav-link text-left">Bookings Cart</a></li>
                  <li>
                    <a href="//wa.me/919645969312" class="nav-link text-left">Contact us</a>
                  </li>
                  <li>
                    <a href="/profile" class="nav-link text-left">Profile</a>
                  </li>
                </ul>
                </ul>
              </nav>

            </div>

          </div>
        </div>

      </div>

    </div>

    <br><br>

    {{!-- <section class="" style="background-color: ;"> --}}
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
              <div class="card-body p-0">
                <div class="row g-0">
                  <div class="col-lg-8">
                    <div class="p-5">
                      <div class="d-flex justify-content-between align-items-center mb-5">
                        <h1 class="fw-bold mb-0 text-black">Bookings</h1>
                      </div>
                      <div>
                        {{#if booking.length}}
                        {{#each booking}}

                        <hr class="my-1">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">

                          <div class="col-md-8">
                            <h6 class="text-black "> Package : {{booking_id.0.package_name}}</h6>
                            {{#if booking_id.1.package_name}}
                            <h6 class="text-black "> Package :{{booking_id.1.package_name}}</h6>
                            {{/if}}
                            <h6 class="text-black "> Order ID : {{this.order_id}}</h6>
                            <br>
                            <h6 class="text-black "> Checkin : {{booking_id.0.checkin}}</h6>
                            <h6 class="text-black "> Checkout : {{booking_id.0.checkout}}</h6>
                            <br>
                            {{#if booking_id.1.checkin}}
                            <h6 class="text-black "> Checkin :{{booking_id.1.checkin}}</h6>
                            <h6 class="text-black "> Checkout :{{booking_id.1.checkout}}</h6>
                            {{/if}}
                            <h6 class="text-black "> Payment :{{payment_method}}</h6>
                            <h6 class="text-black "> Guests : {{booking_id.0.guests}}</h6>
                            {{#if booking_id.1.guests}}
                            <h6 class="text-black "> Guests :{{booking_id.1.guests}}</h6>
                            {{/if}}
                            <h6 class="text-black "> Booked Date :{{date}}</h6>
                            <br>
                            <h5 class="text-black mb-0">Total : {{this.total}}</h5>
                            <br>
                          </div>


                          <div class="col-md-3">
                            {{#if status}}
                            <button class="btn btn-success">Completed</button>
                            {{else}}
                            <button class="btn btn-warning">Not Completed</button>
                            <br>
                            <br>
                            <a href="/deleteBooking?id={{_id}}&dateid1={{booking_id.0.date_id}}&dateid2={{booking_id.1.date_id}}"
                              class="text-muted" data-toggle="modal" data-target="#exampleModalCenter{{@index}}"><button
                                class="btn btn-danger">Cancel Booking</button></a>
                            {{/if}}
                            <br><br>
                            {{#if is_blocked}}
                            <p class="text-danger">Booking is temporary blocked..</p>
                            {{/if}}
                          </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter{{@index}}" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Cancel</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <a
                                  href="/deleteBooking?id={{_id}}&dateid1={{booking_id.0.date_id}}&dateid2={{booking_id.1.date_id}}"><button
                                    type="button" class="btn btn-primary">Yes</button></a>
                              </div>
                            </div>
                          </div>
                        </div>

                        {{/each}}
                        {{else}}
                        <div><img src="/images/cart empty.webp" alt="" class="img-fluid"></div>
                        {{/if}}
                      </div>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{!--
    </section> --}}
    <br>



    <div class="site-section bg-image overlay" style="background-image: url('images/banner 2.jpg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="text-white">Get In Touch With Us</h2>
            <p class="mb-0"><a href="//wa.me/919645969312" class="btn btn-warning py-3 px-5 text-white">Contact Us</a>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <p class="mb-4"><img src="images\Vanchi logo.jpg" alt="Image" class="img-fluid" style="border-radius: 2em;">
            </p>
            <p></p>
            <p><a href="#">Learn More</a></p>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Company</span></h3>
            <ul class="list-unstyled">
              <li><a href="#">About</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Projects</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our Services</span></h3>
            <ul class="list-unstyled">
              <li><a href="#">Industrial</a></li>
              <li><a href="#">Construction</a></li>
              <li><a href="#">Remodeling</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Contact</span></h3>
            <ul class="list-unstyled">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Support Community</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Our Partners</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>


  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#ff5e15" />
    </svg></div>


  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.0/dist/sweetalert2.min.js"></script>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>

  <script src="js/main.js"></script>

  <script src="js_date/jquery-3.3.1.min.js"></script>
  <script src="js_date/popper.min.js"></script>
  <script src="js_date/bootstrap.min.js"></script>
  <script src="js_date/picker.js"></script>
  <script src="js_date/picker.date.js"></script>

  <script src="js_date/main.js"></script>



</body>

</html>